@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.clear {
    clear: both;
}

header {
    padding: 40px 2%;
    width: 100%;
    height: 90vh;
    min-height: 800px;
    background-image: url(../images/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    float: left;
}
header nav.mobile-menu {
    float: right;;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../images/menu.png);
    background-size: 100% 100%;
    cursor: pointer;
}

header nav.mobile-menu ul {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: #f5f5f5;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

header nav.mobile-menu:hover ul {
    opacity: 0.9;
}

header nav.mobile-menu ul li {
    padding: 8px 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 1px solid #000;
}
header nav.mobile-menu ul li:hover {
    background-color: #ddd;
}

header nav.mobile-menu ul li a {
    text-decoration: none;
    color: #000;
}

header nav.desktop-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
}

header nav.desktop-menu ul li {
    padding: 0 20px;
}

header nav.desktop-menu ul li:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

header nav.desktop-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.chamada-01 {
    margin: 200px 150px;
    max-width: 600px;
    float: right;
}

.chamada-01 h2 {
    font-size: 40px;
    color: #fff;
}

.chamada-01 p {
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}

.section-01 {
    padding: 0 2%;
    width: 100%;
    height: 400px;
    background-color: #472562;
}

.section-01 .container {
    max-width: 1000px;
}

.section-01-texto {
    float: left;
    position: relative;
    left: 60px;
    margin-top: 60px;
    padding-left: 80px;
    width: 50%;
    color: #fff;
}

.section-01-texto h2 {
    font-size: 26px;
}

.section-01-texto p {
    margin-top: 20px;
    font-size: 15px;
}

.section-01-texto ul {
    font-size: 15px;
    list-style-position: inside;
}

.section-01-texto ul li {
    float: left;
    margin-top: 8px;
    width: 100%;
}

.btn-01 {
    margin-top: 20px;
    width: 165px;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background-color: #ff703d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.section-01-device {
    float: left;
    position: relative;
    top: -50px;
    width: 50%;
    height: 450px;
    background-image: url(../images/device.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-02.container {
    max-width: 1000px;
}

.section-02 {
    padding: 0 2%;
    background-color: #fff;
    text-align: center;
}

.section-02 h2 {
    color: #472562;
}

.section-02 p {
    display: inline-block;
    margin-top: 30px;
    max-width: 900px;
    color: #472562;
}

.section-02 img {
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 40px;
    -webkit-box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.5);
            box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.5);
}

.section-03 {
    width: 100%;

}

.left-side {
    float: left;
    padding: 140px 0 90px 0;
    width: 50%;
    color: #fff;
    background-color: #835fa7;
}

.wraper-left-side {
    float: right;
    padding: 30px;
    max-width: 600px;
}

.left-side h2 {
    font-size: 23px;
    font-style: italic;
}

.left-side p {
    margin-top: 10px;
}

.right-side {
    float: left;
    padding: 140px 0 90px 0;
    width: 50%;
    background-color: #fff;
}

.autor-sobre {
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.autor-titulo {
    float: left;
    width: 100%;
}

.wraper-autor-titulo {
    float: left;
}

.autor-titulo h2 {
    padding-right: 20px;
    font-weight: 400;
    color: #232323;
}

.autor-titulo p {
    font-size: 13px;
    font-style: italic;
    color: #232323;
}

.autor-img {
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(../images/Avatar.png);
    background-size: 100% 100%;
    border-radius: 50%;
}

.autor-texto {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.autor-texto p {
    color: #232323;
}

.slider-bullets {
    float: left;
    padding-left: 30px;
    margin-top: 15px;
    width: 100%;
}

.slider-bullets div {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.section-04 {
    background-color: #472563;
    padding: 100px 0;
}

.form {
    float: left;
    padding-left: 10px;
    width: 50%;
    color: #fff;
}

.form h2 {
    font-size: 23px;
}

.form p {
    padding-right: 10px;
    max-width: 400px;
    font-size: 15px;
}

.form form {
    margin-top: 15px;
}

.form form input[type=text] {
    margin-top: 5px;
    padding-left: 8px;
    width: 90%;
    max-width: 480px;
    height: 48px;
    line-height: 48px;
}

.form form textarea {
    margin-top: 5px;
    padding: 15px;
    width: 90%;
    max-width: 480px;
    height: 200px;
    resize: none;
}

.form form input[type=text]:focus,
.form form textarea {
    outline: 0;
}

.form form input[type=submit] {
    margin-top: 20px;
    width: 165px;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background-color: #ff703d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.wraper-map {
    float: left;
    padding: 0 10px;
    width: 50%;
    color: #fff;
}

.wraper-map h2 {
    font-size: 23px;
}

.wraper-map-02 {
    position: relative;
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
}

.wraper-map-03 {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100%;
    width: 100%;
}

.map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #ccc;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 2%;
    color: #fff;
    background-color: #192123;
}

@media screen and (max-width: 830px) {
    
    .chamada-01 {
        float: none;
        margin: 170px 0;
        width: 100%;
        max-width: none;
        text-align: center;
    }
    
    .chamada-01 h2 {
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {

    header {
        height: auto;
        min-height: 90vh;
    }

    nav.desktop-menu {
        display: none;
    }

    header nav.mobile-menu {
        display: block;
    }


    .section-01 {
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .section-01-texto {
        float: none;
        position: static;
        display: inline-block;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
    }

    .section-01-texto ul {
        display: inline-block;
        margin-top: 20px;
    }

    .section-01-texto ul li {
        float: none;
        text-align: left;
    }

    .section-01-device {
        display: none;
    }

    .section-02 {
        padding-top: 40px;
    }

    .section-04 .container {
        text-align: center;
    }

    .form {
        float: none;
        width: 100%;
    }

    .form p {
        display: inline-block;
    }

    .wraper-map {
        float: none;
        margin-top: 40px;
        width: 100%;
    }

    .wraper-map-02 {
        display: inline-block;
        margin-top: 20px;
        width: 80%;
        max-width: none;
        padding-top: 80%;
    }

    footer {
        display: block;
        text-align: center;
    }

    
}

@media screen and (max-width: 580px) {
    .left-side {
        width: 100%;
        padding: 40px 0;
    }

    .right-side {
        width: 100%;
        padding: 40px 0;
    }

    .section-02 img {
        top: 16px;
        margin-top: 20px;
    }
}